/* #Reset & Basics
================================================== */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }
a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/*
 * Layout
 * Skeleton V1.2
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 */
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing
    #Media Queries */

/* #Base 1200 Grid
================================================== */

    .container                                  { position: relative; width: 1100px; margin: 0 auto; padding: 0;}

    .column, .columns                           { float: left; display: inline; margin-left: 10px; margin-right: 10px;}

    .row                                        { margin-bottom: 20px; }


    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 55px;  }
    .container .two.columns                     { width: 130px; }
    .container .three.columns                   { width: 205px; }
    .container .four.columns                    { width: 280px; }
    .container .five.columns                    { width: 355px; }
    .container .six.columns                     { width: 430px; }
    .container .seven.columns                   { width: 505px; }
    .container .eight.columns                   { width: 580px; }
    .container .nine.columns                    { width: 655px; }
    .container .ten.columns                     { width: 730px; }
    .container .eleven.columns                  { width: 805px; }
    .container .twelve.columns                  { width: 880px; }
    .container .thirteen.columns                { width: 955px; }
    .container .fourteen.columns                { width: 1030px; }
    .container .fifteen.columns                 { width: 1105px; }
    .container .sixteen.columns                 { width: 1180px; }

    .container .one-third.column                { width: 380px; }
    .container .two-thirds.column               { width: 780px; }
    .container .one-fifth.column                { width: 220px; }


    /* Offsets */
    .container .offset-by-one                   { padding-left: 75px;  }
    .container .offset-by-two                   { padding-left: 150px; }
    .container .offset-by-three                 { padding-left: 225px; }
    .container .offset-by-four                  { padding-left: 300px; }
    .container .offset-by-five                  { padding-left: 375px; }
    .container .offset-by-six                   { padding-left: 450px; }
    .container .offset-by-seven                 { padding-left: 525px; }
    .container .offset-by-eight                 { padding-left: 600px; }
    .container .offset-by-nine                  { padding-left: 675px; }
    .container .offset-by-ten                   { padding-left: 750px; }
    .container .offset-by-eleven                { padding-left: 825px; }
    .container .offset-by-twelve                { padding-left: 900px; }
    .container .offset-by-thirteen              { padding-left: 975px; }
    .container .offset-by-fourteen              { padding-left: 1050px; }
    .container .offset-by-fifteen               { padding-left: 1125px; }

/* #Base 960 Grid
================================================== */

  @media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }
    .container .one-fifth.column                { width: 172px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
  }


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }
        .container .one-fifth.column                { width: 133px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 300px; }
        .container .one-fifth.column  { width: 140px; }
        .container .one-fifth.column:nth-child(2n)  { margin-left: 20px }


        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
        .container .one-fifth.column  { width: 200px;}
        .container .one-fifth.column:nth-child(2n)  { margin-left: 20px }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0; }
    .row:after,
    .clearfix:after {
        clear: both; }
    .row,
    .clearfix {
        zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

/* #Media Queries
================================================== */



/* Misc
================================================== */
.relative { position: relative; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.right { float:right; position: relative; }
.left { float: left; }
.inline { display: inline; }
.center { text-align: center; }
.relative { position: relative; }
.align_right { text-align:right }
.align_left { text-align: left; }
p.warning { text-align: center; font-weight: bold; padding-top: 10px; }
.container div.mobile_only, span.mobile_only, .mobile_only { display:none; }
.no_border { border: none !important; }
.extra_padding { padding-top: 4px; }
div.hidden { display: none; }
div.is-absolute {
    position: absolute !important;
    top: 0;
    margin-top: 0;
}


/* Logo & Header
================================================== */
.header {
    width: 100%;
    z-index: 1;
}
.header-inner {
    width: 1400px;
    margin: 0 auto;
    height: 95px;
}
.logo img {
    width: 116px;
}
.menu {
    margin: 0 10px;
    margin-top: 37px;
}
.menu li {
    display: inline-block;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu.left li {
    margin-right: 35px;
}
.menu.right li {
    margin-left: 20px;
}
.icon-cart {
    background: url(/assets/shopping-cart.png) no-repeat;
    background-size: 18px;
    padding-left: 30px;
}

.hero {
    min-height: 670px;
    background: url(/assets/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-transform: uppercase;
}
.hero-inner {
    padding-top: 95px;
}
.hero-left, .hero-right {
    width: 50%;
    float: left;
}
.hero-left {
    background: url(/assets/case.png) no-repeat;
    background-position: right top;
    background-size: contain;
    min-height: 590px;
}
.hero-left img {
    width: 123px;
    position: relative;
    left: 330px;
    top: 75px;
}
.hero-right {
    padding: 25px 35px 25px 0;
    text-transform: uppercase;
    text-align: center;
}
.hero-right h3 {
    font-size: 35px;
    font-family: Montserrat;
    font-weight: bold;
    margin: 15px 0 10px 0;
}
.hero-right h3 span {
    font-size: 51px;
}
.hero-right .video {
    width: 516px;
    height: 290px;
    background: url(/assets/youtube_video.jpg) no-repeat;
    background-size: contain;
    margin: 5px 0;
}
.hero-right p {
    font-size: 16px;
    font-family: Montserrat;
    letter-spacing: 1px;
    color: #d39def;
    line-height: 28px;
}
.hero-right p span {
    font-weight: 800;
}
.hero-right p img {
    width: 90px;
    vertical-align: top;
    margin-left: 15px;
}

button.try-now {
    width: 516px;
    height: 63px;
    background-color: #a800fe;
    border: 1px solid #c14cfd;
    border-radius: 10px;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    margin: 15px 0;
    letter-spacing: 1px;
}

.as-seen-on {
    background-color: #131313;
    border-top: 1px solid #4f4a4b;
    border-bottom: 1px solid #4f4a4b;
}
.aso-inner {
    text-align: center;
}
.aso-inner img {
    vertical-align: middle;
    margin: 10px 20px;
}

.home-block {
    /*background: url(/assets/arrow.png) no-repeat;*/
    /*background-position: center -10px;*/
    position: relative;
    font-family: Open Sans;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
}
.home-block:before {
    content: '';
    background: url(/assets/arrow.png) no-repeat;
    background-size: 100%;
    width: 39px;
    height: 47px;
    margin: -10px auto;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px;
}

.home-block p {
    font-size: 36px;
    line-height: 45px;
    margin: 15px 0;
}
.home-block p.back-in-stock {
    color: #a800fe;
}
.home-block .block-title {
    text-align: center;
}
.home-block .block-title:before {
    content: '';
    border: 1px solid #dedede;
    width: 100%;
    display: block;
    margin-top: 50px;
    position: absolute;
    z-index: -1;
}
.home-block .block-title p {
    text-transform: uppercase;
    color: #cc0000;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 50px;
    margin: 30px 0;
    padding: 0 15px;
    display: inline-block;
    background-color: white;
}

.headline img {
    margin-top: 15px;
}

.benefits-inner {
    overflow: hidden;
}
.benefits-inner:after {
    clear: both;
}

.benefit {
    width: 25%;
    float: left;
    text-align: center;
    padding: 12px;
    margin: 10px 0;
}
.benefit img {
    width: 150px;
}
.benefit h3 {
    font-family: Source Sans Pro;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    margin: 15px 0;
}
.benefit p {
    font-family: Roboto;
    font-size: 19px;
    line-height: 25px;
    font-weight: normal;
}
.benefit p strong {
    font-weight: bold;
}

.ingredients .desc-right * {
    float: right;
}
.ingredients .desc-left * {
    float: left;
}
.ingredients .desc-right .desc {
    text-align: left;
    padding-left: 17px;
    padding-right: 15px;
    border-left: 2px solid #a900ff;
}
.ingredients .desc-left .desc {
    text-align: right;
    padding-left: 15px;
    padding-right: 17px;
    border-right: 2px solid #a900ff;
}
.ingredients .desc p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    float: none;
    line-height: 1.4;
    margin: 0;
}
.ingredients .desc p.title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    color: #a900ff;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0;
}

.ingredients-inner .h-line {
    border-top: 2px solid #a900ff;
}

.spirulina, .white-willow-bark, .taurine, .acai-berry {
    overflow: hidden;
}

.spirulina {
    margin-top: 30px;
}
.white-willow-bark {
    margin-top: -57px;
}
.taurine {
    margin-top: -48px;
    padding-top: 24px;
}
.acai-berry {
    margin-top: -86px;
    padding-top: 10px;
}

.spirulina .desc {
    width: 373px;
}
.spirulina .h-line {
    width: 70px;
    margin-left: -66px;
    margin-top: 60px;
}

.white-willow-bark .desc {
    width: 333px;
}
.white-willow-bark .h-line {
    width: 132px;
    margin-top: 80px;
    margin-right: -11px;
}
.white-willow-bark img {
    margin-top: 25px;
}

.taurine .desc {
    width: 310px;
}
.taurine .h-line {
    width: 35px;
    margin-top: 19px;
    margin-right: -25px;
}
.taurine img {
    margin-top: -24px;
}

.acai-berry .desc {
    width: 325px;
}
.acai-berry .h-line {
    width: 55px;
    margin-left: -50px;
    margin-top: 82px;
}
.acai-berry img {
    margin-top: -10px;
}